{% extends 'base.html' %}

{% block content %}
<div class="mx-auto w-25">
    <h1>Add record</h1>

</div>
<br/>
{% if submitted %}
<div class="mx-auto w-25">
  <h3>Submitted</h3>
</div>
{% else %}
<form class="w-25 mx-auto" method="POST" >
    <!-- All forms need CSRF token, it is a safety measure, to make it hard for hackers to hijack form -->
    {% csrf_token %} 
     
    <!-- Add the form that we created in forms.py to the page -->
    {{ recordForm.as_p }}
     
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
{% endif %}
<!-- #action="{% url 'show_records' %}" -->
{% endblock %}