{% extends 'base.html' %}

{% block content %}
<div class="mx-auto w-75 text-center text-white">
    <h1>Items</h1>
    {% if items %}
    
    <p>These are the items:</p>
    <div class="container ">
        <div class="row">
            {% for item in items %}
                <div class="col">
                    <div class="card">
                        {% if item.image %}
                        <img src="{{ item.image.url }}" class="card-img-top" alt="item image" width="10px" height="200rem">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title"> {{ item.name }} </h5>
                            <hr/>
                            <p>Category: {{ item.category }}</p>
                            <hr class="w-25 mx-auto"/>
                            <p>Price: {{ item.price }}$</p>
                            <hr class="w-25 mx-auto"/>
                            <p>Price: {{ item.color }}</p>
                            <Button type="button" class="btn btn-secondary">More info</Button>
                            <form action="" method="get">
                                <input type="hidden" name="item_id" value="{{ item.id }}">
                                <input type="submit" class="btn btn-primary" value="Delete" name="mybtn">
                            </form>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
    
    
    
    {% else %}
    <p>No items</p>
    {% endif %}
</div>
{% endblock %}